extends common/template

include common/mixins

block title
    title Packing List

block style
    style.
        .info-table .tr .td:first-child {
            -webkit-justify-content: flex-end;
            font-weight: bold;
        }

        .packing-list-container {
            -webkit-justify-content: center;
        }

        .packing-list-container .table {
            max-width: 80%;
        }

        .metric {
            font-weight: bold;
            margin-left: 10px;
        }

        .metric-row {
            margin-bottom: 20px;
        }

        .signature-container .tr .td:first-child {
            max-width: 80px;
        }

        .signature-container .tr .td:nth-child(2) {
            max-width: 300px;
        }

block content
    div
        h1.page-title Packing List
        p.page-title-description This material is used for feed production purpose only
        .content
            .row
                .column
                    p.title Shipper:
                    p
                        +valueWithError(shipperName)
                    p
                        +valueWithError(shipperAddress)
                .column
                    .table.info-table
                        .tr
                            .td Date:
                            .td
                                +valueWithError(date)
                        .tr
                            .td Booking #
                            .td
                                +valueWithError(booking)
                        .tr
                            .td Contact Number:
                            .td
                                +valueWithError(contactNumber)
                        .tr
                            .td Point and Country of Origin:
                            .td
                                +valueWithError(countryOfOrigin)
                        .tr
                            .td Port of Export:
                            .td
                                +valueWithError(portOfExport)
                        .tr
                            .td Destination Port:
                            .td
                                +valueWithError(destinationPort)
                        .tr
                            .td Vessel:
                            .td
                                +valueWithError(vessel)
            .row
                .column
                    p.title Consignee:
                    p
                        +valueWithError(consigneeName)
                    p
                        +valueWithError(consigneeAddress)
                .column
                    p.title Description of Goods:
                    p
                        +valueWithError(descriptionOfGoods)
            .row.metric-row
                span.title Metric Tons:
                span.metric
                    +valueWithError(tons)
            .row.packing-list-container
                - var containerNum = 0
                - var netLbTotal = 0
                - var netKgTotal = 0
                .table
                    .th.tr.tr-centered
                        .td Container
                        .td Seal
                        .td Net (lb.)
                        .td Net (kg)
                    if (packingList === undefined || packingList.length === 0)
                        span.error Needs Data
                    else
                        each packing in packingList
                            - containerNum += 1
                            - netKgTotal += packing.netLb
                            - netLbTotal += packing.netKg
                            .tr.tr-centered
                                span.td #{packing.container}
                                span.td #{packing.seal}
                                span.td #{packing.netLb}
                                span.td #{packing.netKg}
                        .tr.tfoot.tr-centered
                            .td
                                +valueWithError(containerNum)
                            .td TOTALS
                            .td #{netLbTotal.toFixed(2)}
                            .td #{netKgTotal.toFixed(2)}

            .row.signature-container
                .table
                    .tr
                        .td Signature:
                        .td.line
                    .tr
                        .td Name:
                        .td
                            +valueWithError(signatureName)
                    .tr
                        .td Title:
                        .td
                            +valueWithError(signatureTitle)
